/* ====================== extremly big layout ====================== */
@media screen and (min-width: 87em) {
  /* ====================== Navigation ====================== */
  #breadcrumb {
    padding-left: calc((100% - 79.5em) / 2);
  }

  /* ====================== Restaurant Filtering ====================== */
  .filter-options {
    padding-left: calc((100% - 83.7em) / 2);
  }

  /* ====================== Restaurant list ====================== */
  #restaurants-list {
    width: 84em;
    margin: 0 auto;
  }

  /* ====================== Restaurant Details ====================== */
  #restaurant-container {
    grid-template-rows: min-content min-content 17em min-content min-content 1fr;
  }
  
  #restaurant-container,
  #reviews-container {
    width: 86em;
    margin: 0 auto;
  }
}
