/* ====================== medium layout ====================== */
@media screen and (min-width: 45em) and (max-width: 53.99999em) {
  /* ====================== Map ====================== */
  #map {
    height: 25em;
  }

  .inside #map {
    height: 15em;
  }

  /* ====================== Restaurant Filtering ====================== */
  .filter-options {
    grid-template-columns: 20em auto;
  }

  .filter-options select,
  .filter-options label {
    width: 20em;
  }

  .filter-options h2 {
    grid-column-end: span 2;
  }

  .filter-options label {
    grid-row-start: 2;
  }

  /* ====================== Restaurant list ====================== */
  #restaurants-list li {
    grid-template-columns: 42% 56%;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas:
      "list-item-image list-item-name"
      "list-item-image list-item-neighborhood"
      "list-item-image list-item-address";
    grid-gap: 2%;
    justify-items: start;
    align-items: start;
  }

  #restaurants-list .restaurant-img {
    grid-area: list-item-image;
    justify-self: end;
    width: 100%;
  }

  #restaurants-list li h1 {
    grid-area: list-item-name;
    text-align: start;
    font-size: 1.5em;
  }

  #restaurants-list address,
  #restaurants-list p {
    text-align: start;
    font-size: 1.1em;
  }

  #restaurants-list address {
    grid-area: list-item-address;
  }

  #restaurants-list p {
    grid-area: list-item-neighborhood;
  }

  #restaurants-list .restaurant-img picture {
    /* center image and only show middle part, otherwise it gets too large comapred to the text */
    max-height: 12em;
    overflow: hidden;
    display: flex;
    align-items: center;
  }

  /* ====================== Restaurant Details ====================== */
  #restaurant-container {
    display: grid;
    grid-column-gap: 1em;
    grid-template-columns: 1fr auto;
    grid-auto-rows: min-content min-content min-content min-content min-content min-content 1fr;
    grid-template-areas:
      "restaurant-map restaurant-map"
      "skip-target skip-target"
      "restaurant-name restaurant-name"
      "restaurant-image restaurant-is-favorite"
      "restaurant-image restaurant-address"
      "restaurant-image restaurant-hours"
      "restaurant-cuisine restaurant-hours";
  }

  .inside #skip-target {
    grid-area: skip-target;
  }

  .inside #map-container {
    grid-area: restaurant-map;
  }

  #restaurant-name {
    grid-area: restaurant-name;
  }

  #restaurant__image-container {
    grid-area: restaurant-image;
  }

  #restaurant-cuisine {
    grid-area: restaurant-cuisine;
    align-self: start;
  }

  #restaurant__is-favorite-container {
    grid-area: restaurant-is-favorite;
  }

  #restaurant-address {
    grid-area: restaurant-address;
  }

  #restaurant-hours {
    grid-area: restaurant-hours;
  }

  .restaurant-hours__caption {
    text-align: center;
  }

  #restaurant__image-container,
  #restaurant-cuisine {
    align-self: start;
    margin: 0 0 0 20px;
    width: calc(100% - 20px);
  }

  #restaurant-address,
  #restaurant__is-favorite-container,
  #restaurant-hours {
    justify-self: center;
    padding: 0 20px 0 0;
  }
}
